.places__paragraph-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  box-sizing: border-box;
}

.places__paragraph-text:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .places__paragraph-text {
    font-size: 15px;
    line-height: 187%;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .places__paragraph-text {
    line-height: 188%;
  }
}
