/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.places__paragraph {
  width: 100%;
  font-family: "Inter-Regular";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  grid-area: text;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  padding: 0;

  text-align: start;
  vertical-align: text-top;
  padding-bottom: 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.places__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}
