/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.header__lang-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 2;
  color: #fff;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
  text-decoration: none;
}

.header__lang-link:last-of-type {
  margin-left: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media all and (max-width: 320px) {
  .header__lang-link {
    line-height: 1.11;
  }
}
