/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.photo-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 50px;
}
.photo-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.photo-grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.photo-grid > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .photo-grid > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .photo-grid > *:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(12) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr
      16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(7) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(8) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(9) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(10) {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(11) {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(12) {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
  }
}
