/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.places {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 95px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 85px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
