/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.places__image {
  grid-area: image;
  width: 100%;
  height: auto;
  margin: 0;
  padding-bottom: 0;
  padding-left: 0;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .places__image {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 35px;
  }
}
