/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.cover__subtitle {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 48%;
  }
}

@media screen and (max-width: 378px) {
  .cover__subtitle {
    width: 83%;
    font-size: 14px;
    line-height: 1.14;
  }
}
