/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.footer__link {
  font-size: 16px;
  line-height: 1.125;
  text-decoration: none;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    display: -ms-grid;
    display: grid;
    grid-area: link;
  }
}
