.lead__title {
  font-family: "Inter-Black";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 96px;
  line-height: 1.04;
  border: 1px solid red;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media all and (max-width: 679px) {
  .lead__title {
    font-size: 70px;
    line-height: 1.06;
  }
}

@media all and (max-width: 497px) {
  .lead__title {
    font-size: 55px;
    line-height: 1.08;
  }
}

@media all and (max-width: 396px) {
  .lead__title {
    font-size: 45px;
    line-heght: 1.09;
  }
}

@media all and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}
