/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.intro__text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  width: 64%;
  margin: 0;
  padding-bottom: 33px;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 1024px) {
  .intro__text {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    padding-bottom: 58px;
  }
}
