/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 64px;
}

@media all and (max-width: 1024px) {
  .lead__subtitle {
    width: 62.5vw;
    padding-top: 28px;
    padding-bottom: 60px;
  }
}

@media all and (max-width: 787px) {
  .lead__subtitle {
    width: 83.33vw;
    padding-top: 20px;
    padding-bottom: 35px;
  }
}

@media all and (max-width: 594px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 1.22;
  }
}

@media all and (max-width: 488px) {
  .lead__subtitle {
    width: 90vw;
    font-size: 18px;
    line-height: 1.24;
  }
}

@media all and (max-width: 329px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}
