/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.places__place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 40px auto;
  grid-template-columns: 460px auto;
  grid-template-rows: auto 460px;
  grid-template-areas:
    "title url"
    "image text";
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 48px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 78.82px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.places__place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    -ms-grid-columns: 440px 32px auto;
    grid-template-columns: 440px auto;
    -ms-grid-rows: auto 48px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title url"
      "image text";
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    row-gap: 46px;
    padding-bottom: 82px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    -ms-grid-columns: 330px 28px auto;
    grid-template-columns: 330px auto;
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 40px;
  }
}

@media screen and (max-width: 533px) {
  .places__place {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "url"
      "image"
      "text";
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .places__place {
    margin-top: 0;
    row-gap: 0;
    padding-bottom: 51px;
  }
}
