.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-decoration: none;
  color: #ffffff;
  object-fit: contain;
  box-sizing: border-box;
}

.cover__overlay:hover {
  width: 1184px;
  height: 740px;
  background-color: rgba(42, 44, 47, 0.3);
}
