/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.cover__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 560px;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 840px) {
  .cover__title {
    width: 90%;
  }
}

@media screen and (max-width: 518px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 320px;
    width: 75%;
  }
}
