.cover__title {
  font-family: "Inter-Black";
  font-style: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
