.places__url-heading {
  font-family: "Inter-Regular";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  border: 1px solid red;
  color: #aaaaaa;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}
